
html, body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#title {
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: skyblue;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    /* text-decoration: underline; */
}

.box {
    padding-top: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://mocah.org/thumbs/5380420-coffee-table-desk-work-office-topdown-neat-mishmosh-layout-collection-assortment-notebook-mmacbook-mac-workspace-vintage-headphone-keyboard-productivity-pen-and-paper-public-domain-images.jpg");
    background-size: cover;
    background-position: center;
    background-color: #464646;
}

#inputField {
    width: 300px;
    height: 45px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 10px;
    background-color: white;
}

#addToDo {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    border-radius: 10px;
    background-color: skyblue;
    margin-left: 0px;
    cursor: pointer;
}

/* .paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
} */

.to-dos {
    margin-top: 25px;
}

button {
    margin-left: 25px;
    background-color: skyblue;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    padding: 8px;
}

li {
    cursor: pointer;
    margin-right: 0px;
    font-size: 28px;
    color: white;
}

ul {
    text-align: center;
    list-style-position: inside;
}

p {
    font-size: 20px;
    color: White;
    margin-top: 30px;
    text-align: center;
}

.checked {
    color: gray;
    text-decoration: line-through;
}

.hide {
    visibility: hidden;
}

.tasks {
    text-align: center;
    font-size: 40px;
    color: White;
}

/* .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  } */