
html, body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://mocah.org/thumbs/5380420-coffee-table-desk-work-office-topdown-neat-mishmosh-layout-collection-assortment-notebook-mmacbook-mac-workspace-vintage-headphone-keyboard-productivity-pen-and-paper-public-domain-images.jpg");
    background-size: cover;
    background-position: center;
    background-color: #464646;
}

#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 10px;
    background-color: white;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    border-radius: 10px;
    background-color: skyblue;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
}
